.box > * {
  border: 2px solid rgb(96 139 168);
  border-radius: 5px;
  background-color: rgb(96 139 168 / 0.2);
}

.box {
  /* border: 2px dotted rgb(96 139 168); */
  display: flex;
}

input[type="checkbox"], .inline-label {
    display: inline-block;
    vertical-align: middle; /* Aligns them vertically */
}

.view {
  padding: 10px;
  margin-right: 5px;
}

.controls {
  width: 540px;
  height: 780px;
  column-width: 250px;
  column-fill: auto;
}

.tag-group {
  padding: 5px 5px;
  width: 240px;
}

.add-tag {
  margin-top: 3px;
}

.scroll-box {
  border: 1px solid black;
  height: 150px;
  overflow: auto;
  padding: 5px;
}

.scroll-box-1 {
  height: 20px;
}

.scroll-box-2 {
  height: 40px;
}

.scroll-box-3 {
  height: 60px;
}

.scroll-box-4 {
  height: 80px;
}

.scroll-box-5 {
  height: 100px;
}
