body {
  /* font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif; */
  /* font-family: 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive; */
  /* font-family: Rockwell, 'Rockwell Nova', 'Roboto Slab', 'DejaVu Serif', 'Sitka Small', serif; */
  font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
  font-weight: normal;
}

.box > * {
  border: 2px solid rgb(96 139 168);
  border-radius: 5px;
  background-color: rgb(96 139 168 / 0.2);
}

.box {
  /* border: 2px dotted rgb(96 139 168); */
  display: flex;
}

input[type="checkbox"], .inline-label {
    display: inline-block;
    vertical-align: middle; /* Aligns them vertically */
}

.view {
  padding: 10px;
  margin-right: 5px;
  width: 860px;
}

.controls {
  width: 540px;
  height: 780px;
  column-width: 250px;
  column-fill: auto;
}

.search-buttons {
  display: flex;
}

.search-button {
  padding: 5px;
}

.tag-group {
  padding: 5px 5px;
  width: 240px;
}

.add-tag {
  margin-top: 3px;
}

.scroll-box {
  border: 1px solid black;
  height: 150px;
  overflow: auto;
  padding: 5px;
}

.scroll-box-1 {
  height: 20px;
}

.scroll-box-2 {
  height: 40px;
}

.scroll-box-3 {
  height: 60px;
}

.scroll-box-4 {
  height: 80px;
}

.scroll-box-5 {
  height: 100px;
}
