body {
  /* font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif; */
  /* font-family: 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive; */
  /* font-family: Rockwell, 'Rockwell Nova', 'Roboto Slab', 'DejaVu Serif', 'Sitka Small', serif; */
  font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
  font-weight: normal;
}

.box > * {
  border: 2px solid rgb(96 139 168);
  border-radius: 5px;
  background-color: rgb(96 139 168 / 0.2);
}

.box {
  /* border: 2px dotted rgb(96 139 168); */
  display: flex;
}

input[type="checkbox"], .inline-label {
    display: inline-block;
    vertical-align: middle; /* Aligns them vertically */
}

.view {
  margin-right: 5px;
  padding: 5px;
  width: 860px;
  height: 770px;
  overflow: auto;
}

.title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.disabled-link {
    pointer-events: none; /* Disables mouse events */
    cursor: default;     /* Changes the cursor appearance */
    color: gray;         /* Styles the link as disabled */
    text-decoration: none;
}

.controls {
  width: 565px;
  height: 780px;
  column-width: 250px;
  column-fill: auto;
  column-gap: 8px;
}

.side-by-side {
  display: flex;
}

.search-button {
  padding: 5px;
}

.tag-group {
  padding: 5px 5px;
  width: 250px;
}

.add-tag {
  margin-top: 3px;
}

.tags-scroll-box {
  height: 150px;
  overflow: auto;
  padding: 3px;
}

.tags-scroll-box-1 {
  height: 20px;
}

.tags-scroll-box-2 {
  height: 40px;
}

.tags-scroll-box-3 {
  height: 60px;
}

.tags-scroll-box-4 {
  height: 80px;
}

.tags-scroll-box-5 {
  height: 100px;
}

.tags-scroll-box-6 {
  height: 120px;
}

.tags-scroll-box-7 {
  height: 140px;
}

.tags-scroll-box-8 {
  height: 160px;
}

.tags-scroll-box-9 {
  height: 180px;
}