<div class="controls">
  {% if search_mode %}<form action="{{ url_for('handle_search') }}" method="POST">{% endif %}
  <div>
      <table>
        <tr>
          <td>
            <label>
              <input type="checkbox" id="favorite" name="bool_favorite"
              {% if favorite %} checked {% endif %}
              onclick="handleSetAssetBoolean(this, 'favorite')">Favorite</input>
            </label>
          </td>
          <td>
            <label>
              <input type="checkbox" id="should_delete" name="bool_should_delete"
              {% if should_delete %} checked {% endif %}
              onclick="handleSetAssetBoolean(this, 'should_delete')">Should delete</input>
            </label>
          </td>
        </tr>
        {% if search_mode %}
        <tr>
          <td>
            <label>
              <input type="checkbox" id="tagged" name="tagged"
              {% if tagged %} checked {% endif %}
              >Tagged</input>
            </label>
          </td>
          <td>
            <label>
              <input type="checkbox" id="untagged" name="untagged"
              {% if untagged %} checked {% endif %}
              >Untagged</input>
            </label>
          </td>
        </tr>
        {% endif %}
        <tr>
          <td>
            <label>
              <input type="checkbox" id="bookmark" name="bool_bookmark"
              {% if bookmark %} checked {% endif %}
              onclick="handleSetAssetBoolean(this, 'bookmark')">Bookmark</input>
            </label>
          </td>
        </tr>
      </table>
  </div>
  <div>
  {% for tg in tag_groups %}
      <div class="tag-group">
          <div class="tag-group-legend side-by-side">
            <h3><span> {{ tg.name }} </span></h3>
            {% if not search_mode %}
            <div class="carry-checkbox">
              <label for="tg_carry_{{ tg.id}}">Carry</label>
              <input type="checkbox" name="tg_carry_{{ tg.id }}" id="tg_carry_{{ tg.id }}"
               {% if tg.id in carries %}checked{% endif %}
               onclick="handleTagGroupCarry(this, {{ tg.id }})" />
            </div>
            {% endif %}
          </div>
          <div class="tags-scroll-box tags-scroll-box-{{ tg.show_size }}">
          {% if not tg.multiselect %}
              <select id="tag_group_{{ tg.id }}" name="tag_group_{{ tg.id }}"
               {% if search_mode %}multiple{% endif %} onchange="handleTagSingleSelected(this, {{ tg.id }});">
                  {% if not search_mode %}<option value="-1">Not specified</option>{% endif %}
                  {% for tag in tg.tags %}
                  <option value="{{ tag.id }}" {% if tag.id in tag_ids %}selected{% endif %} >{{ tag.name }}</option>
                  {% endfor %}
              </select>
          {% else %}
              {% for tag in tg.tags %}
              {% if tg.tag_per_line %}<div>{% endif %}
              <label for="tag_{{ tag.id }}" class="inline-label">
                  <input type="checkbox" name="tag_{{ tag.id }}" id="tag_{{ tag.id }}"
                      {% if tag.id in tag_ids %}checked{% endif %}
                      onclick="handleTagClicked(this, {{ tag.id }}, {{ tg.id }})" />
                  {{ tag.name }}
              </label>
              {% if tg.tag_per_line %}</div>{% endif %}
              {% endfor %}
          {% endif %}
          </div>
      {% if tg.ui_addable and not search_mode %}
      <div class="add-tag">
          <form action="{{ url_for('handle_add_tag') }}" method="POST">
              <input type="text" id="add_tag" name="name" autocomplete="off" required />
              <input type="hidden" name="db_id" value="{{ db_id }}">
              <input type="hidden" name="idx" value="{{ idx }}">
              <input type="hidden" name="tag_group_id" value="{{ tg.id }}">
              <input type="submit" value="Add {{ tg.name|lower }}">
          </form>
      </div>
      {% endif %}
      </div>
  {% endfor %}
  </div>
  {% if search_mode %}
    <div class="side-by-side">
      <div class="search-button">
        <input type="submit" name="action" value="Search">
      </div>
      <div class="search-button">
        <input type="submit" name="action" value="Clear">
      </div>
    </div>
  </form>
  {% endif %}
</div>