<!DOCTYPE html>
<html>
<head>
    <title>Media List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"></link>
    <script type="text/javascript">
        var isSearchMode = "{{ search_mode }}".toLowerCase() === "true";
        var checkedTagIds = "{{ checked_tag_ids }}".split(' ');
    </script>
    <script src="{{ url_for('static', filename='helper.js') }}"></script>
</head>
<body>
    <div class="box">
        <div class="view">
            <h1>Media List:</h1>
            <h3>{{ total }} files</h3>
            <ul>
                {% for idx in range(0, total) %} 
                <li>
                    <a id="{{ idx }}" href="{{ url_for('show_media', idx=idx) }}"
                    tabindex="{% if media[idx]['bookmarked'] or media[idx]['favorite'] %}0{% else %}-1{% endif %}">
                    {{ media[idx]['path'] }}
                    {% if media[idx]['favorite'] %}(favorite) {% endif %}
                    {% if media[idx]['bookmarked'] %}(bookmarked) {% endif %}</a>
                </li>
                {% endfor %}
            </ul>
            <form action="{{ url_for('refresh_media_list') }}" method="POST">
                <input type="submit" value="Refresh">
            </form>
        </div>
        {% include './controls.html' %}
    </div>
</body>
</html>
