<!DOCTYPE html>
<html>
<head>
    <title>{{ filename }}(</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='turtle.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"></link>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>
    <script type="text/javascript">
        var idx = "{{ idx }}";
        var dbId = "{{ db_id }}";
        var isSearchMode = "{{ search_mode }}".toLowerCase() === "true";
        var checkedTagIds = "{{ checked_tag_ids }}".split(' ');
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('connect', function () {
            console.log('Connected to the server');
        });

        socket.on('response', function (data) {
            console.log('Server says: ' + data);
        });

        socket.on('set_asset_' + dbId + '_attribute', function (data) {
            console.log('Server says: ' + data);
            document.getElementById(data['attribute']).checked = data['value'];
        });
    </script>
    <script src="{{ url_for('static', filename='helper.js') }}"></script>
    {% if idx > 0 %}
    <script>
      window.previous_media = "{{ url_for('show_media', idx=idx-1) }}";
    </script>
    {% endif %}
    {% if idx + 1 < total %}
    <script>
      window.next_media = "{{ url_for('show_media', idx=idx+1, current=db_id) }}";
    </script>
    {% endif %}
</head>
<body>
    <div class="box">
        <div class="view">
            <h3 class="title">{{ filename }} ({{ filesize }} MB)</h3>
            {% if media_type == 'mp4' or media_type == 'mov' %}
            <video width="854" height="480" controls autoplay> 
                <source src="{{ url_for('send_media', idx=idx) }}" type="video/mp4" /> 
            </video>
            {% elif media_type == 'mp3' or media_type == 'ogg' %}
            <audio controls autoplay src="{{ url_for('send_media', idx=idx) }}"></audio>
            {% elif media_type == 'jpg' %}
            <img src="{{ url_for('send_media', idx=idx) }}" /> 
            {% endif %}
            <br/>
            <a href="{{ url_for('show_media', idx=idx-1) }}"
            {% if idx == 0 %} class="disabled-link" {% endif %}
            >Prev</a>
            <a href="{{ url_for('show_media', idx=idx+1, current=db_id) }}"
            {% if idx + 1 == total %} class="disabled-link" {% endif %}
            >Next</a>
            &nbsp;&nbsp;<a href="{{ url_for('show_media', idx='random') }}">Random</a>
            <p/>
            <a href="{{ url_for('list_media') }}#{{ idx }}">Back to list</a>
        </div>
        {% include './controls.html' %}
    </div>
</body>
</html>
