<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h2>{{ filename }}</h2>
    <video width="1280" height="720" controls autoplay> 
        <source src="{{ url_for('send_video', idx=idx) }}" type="video/mp4" /> 
    </video>
    <br/>
    {% if idx > 0 %}
        <a href="{{ url_for('show_video', idx=idx-1) }}">Prev</a>
    {% endif %}
    {% if idx + 1 < total %}
        <a href="{{ url_for('show_video', idx=idx+1) }}">Next</a>
    {% endif %}
    &nbsp;&nbsp;<a href="{{ url_for('show_video', idx='random') }}">Random</a>
    <p/>
    <a href="{{ url_for('list_videos') }}#{{ idx }}">Back to list</a>
</body>
</html>
